/*
global css section
*/

*{
	margin: 0;
	padding: 0;
}

/*    font-family: 'Alfa Slab One', cursive;

    font-family: 'Bebas Neue', cursive;

    font-family: 'Montserrat', sans-serif;
    */

/*header css*/
header{
	width: 100%;
	background-image: url(img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.sticky{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}


.navbar-brand{
	padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.nav-link{
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	text-transform: uppercase;
	color: #3d2514 !important;
	font-size: 18px;

}
.nav-item{
	margin: 0 20px;
    margin-top: 50px
}

.contact-info{
	    position: absolute;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	color: #3d2514 !important;
	font-size: 14px;
	display: inline-block;
    margin-top: 10px;
}
.contact-info p{
	margin-left: 70px;
    margin-top: 5px;
}
.banner-text{
	display: table-cell;
    vertical-align: middle;
    height: 88vh;
}
.banner-text p{
	font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-size: 24px;
    border: 2px dashed #3d2514;
    padding: 6px 15px;
    display: inline-block;
}
header h1{
      font-family: 'Alfa Slab One', cursive;
      color: #3d2514 !important;
      font-size: 114px;
      font-weight: 400;
      text-transform: uppercase;
          text-shadow: 4px 4px #ffffff;
}
header h2{
      font-family: 'Alfa Slab One', cursive;
      color: #3d2514 !important;
      font-size: 56px;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow: 4px 4px #ffffff;
}
    /*post gallery sec*/

    .post-gallery{
    	width: 100%;
    	padding: 80px 0;
    }
    .post-content h4{
         font-size: 25px
         font-family: 'Bebas Neue', cursive;
         font-weight: bold;
         color: #ffffff;
    }
    .post-content h2{
         font-size: 42px;
         font-family: 'Bebas Neue', cursive;
         font-weight: bold;
         color: #ffffff;
    }
    .post{
    	position: relative;
    }
    .post-content{
    	position: absolute;
    	top: 32px;
    	left: 32px;
    }
   .top{
   	position: relative;
   }
   .bottom{
   	position: relative;
   	    margin-top: 32px;
   }
   .button{
    background: #ffc045;
    color: #3d2514;
    border: none;
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 35px;
   }
   .button:hover{
   	background: #bf2222;
   	color: white;
   }

   /*menu start*/
   .menu{
   	width: 100%;
   	padding: 40px 0;
   }
  .menu h1{
    font-family: 'Alfa Slab One', cursive;
      color: #3d2514 !important;
      font-size: 52px;
      font-weight: 400;
      text-transform: uppercase;
  } 
  .menu p{
    font-family: 'Montserrat', sans-serif;
    color: #3d2514 !important;
      font-size: 18px;
      font-weight: 300;
  }
  .menu h3{
  	font-size: 42px;
     font-family: 'Bebas Neue', cursive;
     font-weight: 400;
      color: #3d2514;
      text-transform: uppercase;
  }
    .menu button{
    	background: #bf2222;
        font-family: 'Alfa Slab One', cursive;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        padding: 12px 25px;
    }
    .menu button:hover{
    	background: #ffc045;
    color: white;
    }
    /*slider sec*/

   .events{
   	width: 100%;

   	padding: 80px 0;
   } 
   .events h6{
   	font-family: 'Bebas Neue', cursive;
   	color: #3d3d3d;
   	font-weight: bold;
   	font-size: 30px;
   }
   .events h1{
   	font-family: 'Alfa Slab One', cursive;
    color: #3d2514 !important;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
   }
.events p{
	font-family: 'Montserrat', sans-serif;
    color: #3d3d3d !important;
    font-size: 18px;
    font-weight: 300
}
.events col-md-6{
	padding: 10px;
}

.shadow{
	padding: 35px 25px;
	box-shadow: 12px 12px 14px 0 rgba(0,0,0,0,2)
}
/*reservasion sec*/
.text{
	    position: absolute;
	    text-align: center;
	    padding-left: 300px;
}
.reservation{
	width: 100%;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.reservation h3{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	font-weight: 400;
	color: #3d2514;
	

    text-transform: uppercase;
   
  
    margin-top: 70px;
}
.reservation h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 56px;
	font-weight: 400;
	color: #3d2514;
	margin-bottom: 10px;
    text-transform: uppercase;
   
    
    margin-top: 10px
}
.reservation form input{
    padding: 10px 30px;
    margin: 10px 10px;
    width: 350px;
    border: .5px solid black;
}
.submit{
    background: red;
    color: white;
    font-family: 'Alfa Slab One', cursive;
	font-size: 15px;
	font-weight: 400;
	border: none;
	text-transform: uppercase;
}
.submit:hover{
	background: #ffc045;
    color: white;
}
.form{
	 
	    margin-top: 10px;
     
}

/*footer*/
.footer{

	
	background-image: url(img/footer.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
   overflow: hidden;
   width: 100%;

}

.footer-content{

      padding-top: 150px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.fottertext {
	color: white !important;
	padding-top: 40px;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.footerend{
	color: white !important;
	padding-top: 120px;
	font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    font-weight: 200;
}

.icon{
        padding-top: 220px;
}
.icon ul{
	    padding-left: 90px;
}
.icon ul li{
	list-style: none;
	margin-bottom: 15px;
}
.icon ul li{
	font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 400;
}
.social-icon{
	
    padding-top: 85px;
    padding-left: 157px;
}
.social-icon ul{
	 padding-right: 60px;
}
.social-icon ul li{
	list-style: none;
	display: inline-block;
	    margin-left: 20px;

}

.social-icon ul li a i{

  height: 25px;
  text-align: center;
  width: 25px;
  background-color: #fefefe;
  color: black;
  font-size: 15px;
  line-height: 25px;
  border-radius:60%;
  transition: 0.5s ease-in-out;
}
.icon ul li a i:hover{
	background-color: red;
}


/*responsive code*/


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  header{
  	height: 80vh;
  	background-repeat: no-repeat;
  }
.banner-text{
	height: 40vh;
}
.banner-text p{
	font-size: 15px;
}
header h1{
	font-size: 70px;
}
header h2{
	font-size: 50px;
}
.post-gallery .col-md-6{
	width: 100%;
}
.post-gallery .row{
	flex-direction: column;
	padding-left: 50px;
}
.post-gallery .post{
	width: 100%;
padding-bottom: 30px;
}
.menu h3{
	font-size: 25px;
}
.menu p{
	font-size: 14px;
}
.menu img{
	max-height: 30%;
}
.events{
	padding-bottom: 50px;
}
.events img{
	margin-top: 40%;
}
.reservation{
	height: 70vh;
}
.text{
	    text-align: center;
	    padding-left: 15%;
}
.reservation h3{

margin-top: 00px;
font-size: 25px;
}
.reservation h1{

margin-top: 10px;
font-size: 40px;
}
.reservation form input{
	width: 170px;
}
.reservation .form{
	margin-top: 10px;

}

.footer{
	height: 100%;
	width: 100%;
	margin-top: 50px;
}

.footer-content{
	padding-top: 40px;
    left: 50px;
}
.fottertext{
	font-size: 14px;
	padding-top: 30px;
}
.footerend{
	padding-top: 10px;
	font-size: 12px;
}

.icon ul li{
	font-size: 12px;
}
.icon{
	padding-top: 143px;
}
.social-icon{
	padding-top: 13px;
	padding-left: 0px;
}
.social-icon ul{
	padding-right: 20px;
}
.social-icon ul li{
	margin-left: 5px;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 375px) and (max-width: 640px) {
  
  /* CSS */

}
